@import "../../../styles/variables.less";
@minHeight: 100vh;

.root {
  min-height: @minHeight;
  background-color: @white;

  section {
    border-right: 1px solid @border-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 14px;
  }
}

.header,
.sider {
  background-color: @white;
}

.sider {
  min-height: @minHeight;
}

.mainContent {
  background-color: @body-bg;
}
