@import "../../../../styles/variables.less";

.collapse-btn {
  background-color: @body-bg;
  border: none;
  position: absolute;
  right: -30px;
  top: 0;
  cursor: pointer;
  font-size: 16px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;

  &:hover {
    background: darken(@white, 5%);
  }
}
